*{
    margin: 0px;
    padding: 0px;
}

/* Color scheme via coolors.co: #FF8000, #000000, #14213D, #E5E5E5, #FFFFFF
*/

html, body {
    margin: 0;
    height: 100%;
}

body{
    font-family: Helvetica, sans-serif;
    width: 100%;
    
}

.clearfix::after {
    content: "";
    clear: none;
    display: table;
}
.clearfix {
    overflow: auto;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }

  .images {
    height: 150px;  
    width: 170px;
}

.bodyback {
    display: inline-block;
    position: relative;
    padding: 30px;
    background-color: white;
  
}

.context {
    padding: 0px;
    top: 50px;
    width: 960px;
    margin: 0 auto;

}


.nameblock {
    display: inline-block;
    position: relative;
    padding: 20px;
    background-color: teal;
    width: 180px;
    height: 30px;
    
}

.name  h1{
    position: relative;
    margin: auto;
    text-align: center;
    top: 5px;  
    color: #fff;
    font-size: 20px; 
}

.navlinks {
    padding-top: 36px;
    display: inline-block;
    position: relative;
    float: right;
    font-size: 15px;
    font-weight: bold;
}

.navlinks span {
    padding: 10px;
}

.maincontainer {
    position: relative;
    background-image: url(checkerboard-cross.png);
    background-size: contain;
    
}

.mainbox {
    background-color: white;
    width: 960px;
    margin: 0 auto;
    position: relative;
    height: 300px;
}

.mainsection {
    position: relative;
    margin: 0 auto;
    top: 50px;
    width: 900px;
}

.mainback {
  position: relative;
  
  background-size: cover;

}

.bottomborder {
    background-color: teal;
    height: 5px;
}

footer {
    
    padding: 10px;
    background-color: #666666;
    text-align: center;
}